@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

*{
    padding: 0px;
    margin: 0pc;    
    box-sizing: border-box;
    font-family: 'Istok Web', sans-serif;
}

.links img{
    width:30px ;
    
}
body{
    height:100vh ;
    background: linear-gradient(to bottom, #f7e330, #f17130, #e42d1d);
    background-repeat: no-repeat ;   
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0 50px
}

.container{
    max-width: 620px;
    width: 100%;

}

.content{
    border:5px solid white;
    width: 100%;
    border-radius: 4px;
    padding: 100px 40px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;


}
.avatar{
    width: 160px;
    position: absolute;
    top:-80px;
    align-self: center;
    filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.90));
}
h1,h2{
    color:#ffffff
}
h1{
    font-size: 32px;
}
h2 {
    font-size: 16px;
    margin-bottom: 16px;
}

a{
    align-items: center;
    height: 60px;
    font-size: 25px;
    font-weight:500;
    text-decoration: none;
    background-color: #03f72c;
    color:black;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
    padding: 10px;
    transition: .20s background-color;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.50);
    flex-wrap:
}
a:hover{
    background-color: #F77534;


}
.rodape{
    border: ;
    align-self: center;
    color:#ffffff;
    font-size: 10px;
    padding-top:30px ;
    position: absolute;
    bottom:10px;
}
span{
   
    font-weight: 600;
    text-shadow: 4px 2px 4px black ;
    font-size: 13px;
}